.flex-container {
    display: flex;
}

.flex-container div{
    background: peachpuff;
    flex: 1;
}

.flex-container .noname {
    background: brown;
}

.flex-container .middle {
    flex: 2;
}

.flex-container .classes{
    display: flex;
}